form {
    padding-top: 100px;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    color: black;
    height: auto;
    width: 200px;
    padding-bottom: 100px;
}

/* Add spacing between form elements */
form input,
form label,
form textarea,
form button {
    margin-bottom: 15px;  /* Adjust the space as needed */
    width: 100%;  /* Ensure form elements fit the width of the form */
}

#row,row_1_col_1{
    height: auto;
    width: auto;
}
#ad_img{
    height: 60px;
    width: 60px;
}