{% load static %}

<link rel="stylesheet" href="{% static 'css/header.css' %}">
<header id="Header">
    <nav>
        <div id="logo_div">
            <a href={% url "index" %} id="logo_div_a">
                <img src="{% static 'images/logo.png' %}" alt="Logo_image" style="height: 80px; width: 80px;">
            </a>
        </div>
        <span id="logo_name_span">{{Webname}}</span>
        <span id="logo_name_span">{{Webname}}</span>
        <span id="logo_name_span">{{Webname}}</span>
        <span id="logo_name_span">{{Webname}}</span>
        <span id="logo_name_span">{{Webname}}</span>
        <span id="logo_name_span">{{Webname}}</span>
        
        
    </nav>
</header>